:root {
  --color-primary: #68904D;
  --color-secondary: #14471E;
  --color-accent: #EE9B01;
  --color-dark: #e5771f;
  --color-gray: #C8D2D1;
  --color-white: #ffffff;
  --color-black: #323436;
  --padding: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
}

body {
  font-size: 1rem;
  height: inherit;
  color: var(--color-black);
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0 var(--padding);
}

#root {
  padding: var(--padding) 0;
  height: inherit;
}

.app {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 34rem);
  gap: 4rem;
  align-items: start;
}

.button {
  margin-left: auto;
  float: right;
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  padding: 1.2rem 1.2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--color-dark);
}

form {
  background-color: var(--color-gray);
  border-radius: 1rem;
  padding: 1em;
}

.form, .purchases, .participants {
  display: flex;
  flex-direction: column;
}

.purchases h2, .participants h2 {
  font-size: 2em;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 1.8rem;
}

.purchases ul, .participants ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

.item {
  min-height: max-content;
  display: flex;
  padding: calc(var(--padding)/2);
  border-radius: 10px;
  background-color: var(--color-gray);
  transition: 0.3s;
  cursor: pointer;
}

.item:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.label {
  font-size: 1.4rem;
  font-style: italic;
  display: block;
  margin-block-end: 0.6rem;
}

input[type="text"] {
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
  outline: none;
  border: none;
}

input[type="text"]::placeholder {
  font-size: 1.2rem;
  color: var(--color-gray);
}

/* Left column */

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

/* Purchases Form */

.purchase-item {
  flex-direction: column; 
}

.purchase-item input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: #e5771f;
  margin-right: .6rem;
}

.purchase-info {
  display: flex;
  justify-content: flex-start;
}

.purchase-name {
  font-weight: bold;
  font-size: 1.6rem;
}

.data {
  margin-left: auto;
}

.quantity, .price {
  text-align: end;
}

/* Participant Form */

.participant-item {
  justify-content: space-between;
}

.participant-item input[type="checkbox"] {
  appearance: none;
}

.participant-name {
  font-weight: normal;
  font-size: 1.4rem;
}

.participant-cost {
  margin-left: auto;
}

/* Add purchase form */



/* Media Queries */

@media (max-width: calc(34rem * 2 + 4rem)) {
  .app {
    grid-template-columns: 34rem;
    height: fit-content;
  }
}
