:root {
  --color-primary: #68904D;
  --color-secondary: #14471E;
  --color-accent: #EE9B01;
  --color-dark: #DA6A00;
  --color-gray: #C8D2D1;
  --color-white: #ffffff;
  --color-black: #282a2c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
}

body {
  font-size: 1rem;
  height: 100%;
  color: var(--color-black);
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0 2rem;
}

#root {
  padding: 2rem 0;
}


